.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  font-size: 0.8rem;
  max-width: 390px;
  height: 520px;
  margin-top: 20px;
  padding: 30px;
}

.charity_img {
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  height: 110px;
  width: 110px;
  margin-bottom: 20px;
}

.h2_charity {
  margin-bottom: 20px;
  text-align: center;
}

.p_phone {
  margin-left: 30px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.p_desc {
  margin: auto;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.charity_link {
  color: black;
  margin-left: 30px;
}

.link_char {
  margin-left: 30px;
}

.link_char:hover {
  text-shadow: 0 0 0.9px #333;
}

/* #charity_btn {
  background-color: var(--green);
  outline: none;
  height: 44px;
  width: 35%;
  border-radius: 14px;
  box-shadow: var(--shadow);
  font-weight: bold;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  margin: auto;
  margin-top: 40px;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

#charity_btn:hover {
} */

/* <button id="charity_btn">Select</button> */
