* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgba(86, 191, 161, 0.11);
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 1.5px;
}

.loading {
  text-align: center;
  margin-top: 230px;
}
