.tax_container {
  display: grid;
  grid-template-areas:
    "tax1"
    "tax2";
}

.tax_text_container {
  grid-area: tax1;
  width: 85%;
  justify-self: center;
  margin-top: 40px;
  height: 230px;
}

.h1_tax {
  font-size: 1.3rem;
  height: 90px;
}

.p_charities_don {
  font-weight: bold;
  font-size: 1rem;
  height: 50px;
}

.p_specific_charity {
  font-size: 0.9rem;
}

.tax_card_container {
  grid-area: tax2;
  width: 85%;
  justify-self: center;
}

.h2_tax {
  font-size: 1.1rem;
  height: 80px;
}

.tax_cards {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
}

.tax_card {
  font-size: 0.8rem;
  width: 180px;
  height: 130px;
  padding: 40px;
  text-align: center;
  background-color: var(--bgd);
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
}

.p_tax_card {
  color: var(--green);
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 65px;
}

.p_takeme_home {
  text-align: center;
  color: black;
  font-size: 0.9rem;
}

.p_takeme_home:hover {
  text-shadow: 0 0 0.65px #333;
  text-decoration: underline;
}
